*{
  margin: 0 5px;
  font-family: Helvetica, sans-serif;
  color: #ee7bd1;
}

body{
  background-color: #0a0a0a;
}

header{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

header>h3{
  color: #fff;
}

.neko-chan{
  margin: auto;
  margin-top: 20px;
}

.neko-chan>video{
  height: 100px;
}

.trad{
  font-size: 12.8px;
  color: #ee7bd1;
  padding-bottom: 8px;
}

p{
  color: #fff;
}

.lang{
  color: #ee7bd1;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}