*{
  margin: 0 5px;
  font-family: Helvetica, sans-serif;
  color: #ee7bd1;
}

body{
  background-color: #0a0a0a;
}

header{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

header>h3{
  color: #fff;
}

.neko-chan{
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.neko-chan>video{
  width: 30%;
}

p, .txt{
  color: #fff;
}

.cv{
  padding-inline: 0;
}

.name{
  color: #ee7bd1;
  font-weight: bold;
  font-size: 1.4rem;
}

.important{
  color: #ee7bd1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.floats{
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
  margin-inline: -5px;
  overflow: hidden;
}

.history{
  margin-top: 70px;
  margin-inline: -5px;
}

.history>div{
  margin-top: 40px;
}

.first{
  margin-bottom: -20px;
}

.history>.xp>.title{
  margin-top: 20px;
}

.title{
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.date{
  font-weight: normal;
  letter-spacing: 3px;
  color: #c4c4c4;
}

.info{
  font-size: 1.1rem;
}

.hab{
  width: 80%;
  columns: 2;
}

li{
  font-size: 1.1rem;
  color: #fff;
  margin-left: -20px;
  margin-bottom: 20px;
}

.accomplish{
  margin-top: -20px;
}

footer{
  position: relative;
  width: 100%;
  bottom: 0;
  margin-left: -10px;
  margin-bottom: 5px;
  text-align: center;
}

hr{
  margin-left: 10px;
  margin-bottom: 5px;
  width: 100%;
}